@import './../../../assets/pallette.module.scss';

#horizontal-scroll-cards {
  width: 100%;
  position: relative;
  padding: 4rem 0;

    #progress {
      display: flex;
    }

    circle {
      stroke-dashoffset: 0;
      stroke-width: 15%;
      fill: none;
    }

    .bg {
      stroke: $primary-dark;
      opacity: 0.3;
    }

    .indicator {
      stroke: $primary-dark;
    }

    ul {
      display: flex;
      list-style: none;
      height: 300px;
      overflow-x: scroll;
      padding: 20px 0;
      flex: 0 0 600px;
      margin: 0 auto;
    }

    ::-webkit-scrollbar {
      height: 5px;
      width: 5px;
      background: #fff3;
      -webkit-border-radius: 1ex;
    }

    ::-webkit-scrollbar-thumb {
      background: $primary-dark;
      -webkit-border-radius: 1ex;
    }

    ::-webkit-scrollbar-corner {
      background: #fff3;
    }

    li {
      flex: 0 0 200px;
      background: $primary-dark;
      margin: 0 20px 0 0;
    }

    li:last-of-type {
      margin: 0;
    }

}

.dark-mode {
  #horizontal-scroll-cards {
    .bg {
      stroke: $primary-light;
      opacity: 0.3;
    }

    .indicator {
      stroke: $primary-light;
    }
    ::-webkit-scrollbar-thumb {
      background: $primary-light;
      -webkit-border-radius: 1ex;
    }
    li {
      background: $primary-light;
    }
  }
}
